# NJOY configuration file
#
# The following properties are currently defined:
#   - ripl3_levels : the relative or absolute path to the discrete level data of the RIPL-3 database.
#                    When using a relative path, the path is relative to the path of this
#                    configuration file (as set on the NJOY_DATAPATH environmental variable).

ripl3_levels = ripl-3/levels
